body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.resize {
    width:100px;
    height:100px;
}

.resize:hover {
    height:900px;
    width:900px;
}

*/
.contact-form {
  margin-bottom: 1.25rem;
}

p.social {
  margin-top: 1.25rem;
}

p.social a {
  margin: 0 0.625rem 0.625rem 0;
  color: #fff;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 2.5rem;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  border: solid 1px #999;
  color: #999;
  transition: all 0.3s;
  /*
             &.facebook {background-color: #4460ae; border-color: #4460ae;}
             &.gplus {background-color: #c21f25; border-color: #c21f25;}
             &.twitter {background-color: #3cf; border-color: #3cf;}
             &.instagram {background-color: #cd4378; border-color: #cd4378;}
             &.email {background-color: #4a7f45; border-color: #4a7f45;}
             &.link {background-color: #871AFF; border-color: #871AFF;}
             */
}

p.social a:hover {
  color: #ef5285;
  border-color: #ef5285;
}

p.social a i {
  vertical-align: bottom;
  line-height: 2.5rem;
}

p.social.social--outline a {
  background: transparent;
}

p.social.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}

p.social.social--outline a.gplus {
  color: #c21f25;
  border-color: #c21f25;
}

p.social.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}

p.social.social--outline a.instagram {
  color: #cd4378;
  border-color: #cd4378;
}

p.social.social--outline a.email {
  color: #4a7f45;
  border-color: #4a7f45;
}

p.social.social--outline a.link {
  color: #871AFF;
  border-color: #871AFF;
}

p.social.social--big a {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  line-height: 3.75rem;
  font-size: 1.56rem;
}

p.social.social--big i {
  line-height: 3.75rem;
}

/*


