<!DOCTYPE html>
	<html>
	<body style="background-color:#D6EAF8">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<img src="headshot_final.jpg">
				style="width:128px;height:128px;">
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
				
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:jkz13@georgetown.edu">Email</a></li>
		 		<li><a href="https://www.linkedin.com/in/julianne-zech/">LinkedIn</a></li>
				<li><a href="https://www.kaggle.com/jzech13">Kaggle</a></li>
				<li><a href="https://github.com/JulianneZech">github.com/JulianneZech</a></li>
			</ul>
			</footer>
		</body>
	</html>
