<!DOCTYPE html>
	<html>
	<body style="background-color:#D6EAF8">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/JulianneZech-jkz13.pdf">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
				
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:jkz13@georgetown.edu"><img src="email_img.png" alt="Email" style="width:42px;height:42px;border:0;"></a></li>
		 		<li><a href="https://www.linkedin.com/in/julianne-zech/"><img src="linkedin_img.png" alt="LinkedIn" style="width:42px;height:42px;border:0;"></a></li>
				<li><a href="https://www.kaggle.com/jzech13"><img src="kaggle_img.png" alt="Kaggle" style="width:42px;height:42px;border:0;"></a></li>
				<li><a href="https://github.com/JulianneZech"><img src="github_img.png" alt="GitHub" style="width:42px;height:42px;border:0;"></a></li>
			</ul>
			</footer>
		</body>
	</html>
